*{
    padding: 0%;
    margin: 0%;
}
body{
    padding-top: 2%;
    background: lightblue;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    text-align: center;
}
h1{
    padding: 2%;
}
.about{
    font-size: 70px;
}
.about a{
    text-decoration: none;
}